.nav-link {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.nav-link:hover {
    opacity: 0.7; 
    transform: translateY(-5px); 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
    object-fit: cover;
}

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.text-brown {
    color: rgb(95, 41, 46);
}

.text-yellow {
    color: rgb(226, 203, 72);
}

.text-shadow {
    text-shadow: 2px 1.5px 8px black;
}

.form-width {
    width: 300px;
}

.container-pricing {
    max-width: 960px;
}
  
.pricing-header {
    max-width: 700px;
}

.pages-margin {
    margin-top: 10rem;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(var(--bs-tertiary-color-rgb));
    scroll-behavior: smooth;
}

.back-to-top {
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: black;
    background: white;
    border-radius: 100px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
bottom: 3rem;
z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
margin-bottom: 1.5rem;
text-align: center;
}

.marketing .col-lg-4 p {
margin-right: .75rem;
margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

.featurette-heading {
    font-size: 50px;
}
}

@media (min-width: 62em) {
.featurette-heading {
    margin-top: 7rem;
}
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

@media (max-width: 768px) {
.card-body {
    padding: 1rem; /* Adjust padding as needed */
}

.btn {
    padding: 5px 15px; /* Adjust button padding */
    font-size: 12px; /* Adjust button font size */
}

.card-title {
    font-size: 1.25rem; /* Adjust card title font size */
}

/* Center buttons in card body */
.list-unstyled {
    text-align: center;
}
}

@media (max-width: 390px){
#landing-font {
    font-size: 1rem;    
}
}